.chooseYourTeam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: -webkit-fill-available;
  text-transform: lowercase;
  filter: blur(var(--base-blur));
}

.topBar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6em;

  // TODO: Passar todos os 425 para um arquivo de variáveis
  @media (min-width: 412px) {
    font-size: 30px;
  }
}

.searchLink {
  color: inherit;
  font-weight: bold;
}

.link {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: var(--base-content-color);
  padding: 10px 1.3rem;

  // TODO: Passar todos os 425 para um arquivo de variáveis
  @media (min-width: 412px) {
    font-size: 25px;
  }
}

.linkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  fill: var(--base-content-color);
}

.searchLink {
  padding: 10px;

  :global {
    svg {
      width: 24px;
      height: 24px;
      fill: var(--base-content-color);
    }
  }
}

.singleResult {
  width: 33.3%;
  height: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  text-align: center;
  padding: 16px;
  font-size: 15px;
  font-weight: bold;

  img {
    display: block;
    margin: 0 auto 18px;
    width: 70px;
    height: 70px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
  }
}

.singleResultBanner {
  margin-bottom: 24px;
}

.setupTeam {
  display: inline-flex;
  width: 100%;
}
