.chooseYourTeam {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem 1.3rem;
  height: 100vh;
  min-height: -webkit-fill-available;
  filter: blur(var(--base-blur));

  [data-swipeable][aria-hidden='false'] {
    :local {
      .teamWrapper {
        opacity: 1;
      }
    }
  }
}

.topBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  max-width: 60vw;
  font-weight: bold;
  line-height: 1.4;
}

.teamWrapper {
  position: relative;
  opacity: 0;
  transition: opacity 0.6s;
  will-change: opacity;
}

.link,
.searchLink {
  color: inherit;
  font-weight: bold;
}

.link {
  font-size: 1.8rem;
}

.searchLink {
  padding: 10px;

  :global {
    svg {
      width: 24px;
      height: 24px;
      fill: var(--base-content-color);
    }
  }
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--choose-your-team-next);
  padding: 2rem 1rem;
  overflow: hidden;

  &[data-nav='prev'] {
    left: 0;
  }

  &[data-nav='next'] {
    right: 0;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: var(--base-content-color);
  }
}

.banner {
  max-width: 190px;
  margin: 0 auto;
}

.teamTitle {
  font-size: 2.4rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: lowercase;
}

.singleResult {
  display: block;
  width: 25%;
  color: black;
  text-align: center;
  padding: 16px 0;

  img {
    display: block;
    margin: 0 auto 5px;
    width: 70%;
    width: 70%;
    max-width: 100px;
  }
}

.singleResultBanner {
  margin-bottom: 10px;
}
