.content-panel {
  border-radius: 5px;
  width: 100%;
  background-color: #000000;
  opacity: .8;

  &.-is-match {
    padding: 30px 50px;      
    margin-top: 30px;
    margin-bottom: 30px;
    width: 82%;
  }

  &.-is-notice {
    padding: 109px 12px 11px;
  }

}