.panel-notice {
  .wrapper-notice-championship {
    color: #fff;
    
    .championship-name {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 4px;
    }
    
    .championship-info-notice {
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
      max-width: 232px;
    }
  }
}