.panel-notice {
  .wrapper-notice {
    color: #fff;
    
    .notice-name {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 4px;
    }
    
    .info-notice {
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
      max-width: 232px;
    }

  }
  &.-is-quiz-content {
    .wrapper-notice {
      .notice-name {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
      }
  
      .info-notice {
        font-size: 12px;
        line-height: 14px;
        max-width: 300px;
      }
    }
  }
}