.scoreboard {  
  .board {
    display: flex;
    justify-content: center;
  }
  .wrapper-values {
    display: flex;
    
    .scoreboard-value, .scoreboard-separator {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
      color: #fff;
      margin: 0px 12px;
    }
  }

  .info-local {
    color: #fff;
    text-align: center;
    padding-top: 14px;
    
    .stadium-name {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 4px;
    }
    
    .schedule {
      font-size: 10px;
      line-height: 12px;
    }
  }
}