// -------------------------
// Base
// -------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#icons-sprite {
	display: none !important;
}

img,
svg {
	max-width: 100%;
}

button {
	background-color: transparent;
}

html {
	font-size: 16px;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
	font-weight: normal;

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: sans-serif;
	}
}

.fonts-loaded {

	&,
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: 'Fira Sans', sans-serif;	
	}
}

[data-lazy-image='on'] {
	filter: blur(16px);
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'), local('FiraSans-Light'),
        url(publicPath+'fonts/FiraSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(publicPath+'fonts/FiraSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(publicPath+'fonts/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(publicPath+'fonts/FiraSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.app-layout {
	background-color: rgba(black, .6);
	min-height: 100vh;
}
