*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  & {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Montserrat", sans-serif;
  }
}

.container {
  padding: 0 20px;
}
