.thumbItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 15px 8px;
}

.thumbItemContent {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
    opacity: 0.1;
    transition: transform 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
    background-color: var(--base-content-color);
  }

  p {
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    position: relative;
    word-break: break-word;
    font-size: 16px;
    color: var(--base-theme-color);
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(0.9);
  }
}

// :global {
//   .swiper-slide-active {
//     height: 120px;
//     &:before {
//       opacity: 1;
//     }
//     p {
//       color: var(--base-theme-color)
//     }
//   }
// }

.selected {
  &:before {
    transform: scaleY(1.3) scaleX(1.1);
    opacity: 1;
    border-radius: 13px;
  }
  p {
    color: var(--base-theme-color);
    transform: scale(1);
  }
}
