.thumbItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  padding: 20px 10px;
  margin: 0 5px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--base-content-color);
    opacity: 0.1;
  }

  p {
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    position: relative;
    word-break: break-all;
  }
}

.selected {
  height: 120px;
  &:before {
    opacity: 1;
  }
  p {
    color: var(--base-theme-color)
  }
}
