.box-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 92%;
  height: 183px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.34);
  margin: 0 auto;
}