.main-header {
	align-items: center;
	display: flex;
	height: 120px;

	> .container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.button {
		background-color: $color.secondary;
		color: $color.primary;
	}
}
