.small-box {
  display: flex;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  
  &.row {
    flex-direction: row; 
    align-items: center; 
  }  
  &.column {
    width: 124px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 14px
  }

  .wrapper-image {
    &.-row-config {
      align-self: flex-start;
      height: 92px;
      img {
        border-radius: 5px 0 0 5px;
        width: 92px;
        height: 92px;
        margin-right: 14px;
      }
    }

    &.-column-config {
      img {
        width: 52px;
        height: 52px;
        border-radius: 50%; 
      }
    }
  }
  .texts {
    display: flex;
    flex-direction: column;

    .title, .description {
      text-align: center;
    }

    .title {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.21;
      color: #27ae60;
      margin-bottom: 2px;
    } 
    .description {
      font-family: Montserrat;
      font-size: 10px;
      line-height: 1.2;
      color: #555555;
      margin-top: 2px;
      margin-bottom: 0;
    }

    &.column-text-config {
      max-width: 100px;
    }

    &.row-text-config {
      max-width: 174px;
      align-self: flex-start;
      .title, .description {
        text-align: left;  
      }
      .description {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.25;
      }
    }
  }
}