.step {
  text-transform: lowercase;
}

.wrapper {
  text-align: center;
  background-color: var(--base-theme-color);
  color: var(--base-content-color);
}

.stepWrapper {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  flex-direction: column;

  :global {
    &-enter-done {
      background-color: red;
    }
  }
}

.stepContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 28px;
  text-align: left;
  margin: 4vh 0px;
  padding-right: 20px;
  line-height: 35px;
  font-weight: bold;

  strong {
    font-weight: bolder;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
