.teamClass {
  display: inline-block;
}

.banner {
  width: 200px;
  height: 200px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.teamTitle {
  font-size: 52px;
  margin: 10px 0;
  text-align: left;
  text-transform: lowercase;

  & > a {
    color: var(--base-content-color);
  }
}