.teamClass {
  display: inline-block;
  overflow: hidden;
}

.banner {
  width: 180px;
  height: 180px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-10px);
  transition-delay: 0.2s;
  opacity: 0;

  @media (max-height: 650px) {
    width: 120px;
    height: 120px;
    margin-top: 0;
  }
}

.teamTitle {
  font-size: 32px;
  margin: 10px 0;
  text-align: left;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(10px);
  transition-delay: 0.2s;
  opacity: 0;

  & > a {
    color: var(--base-content-color);
  }

  // TODO: Passar todos os 425 para um arquivo de variáveis
  @media (min-width: 412px) {
    font-size: 52px;
  }

  @media (max-height: 650px) {
    font-size: 28px;
  }
}

.actived {
  :local() {
    .banner,
    .teamTitle {
      transform: translateY(0px);
      transition: transform 0.3s ease, opacity 0.3s ease;
      transition-delay: 0.2s;
      opacity: 1;
    }
  }
}
