.main-footer {
	& {
		background-color: $color.footerColor;
		color: white;
		padding: 60px 0 30px;
		position: relative;
		z-index: 4;
	}

	.link {
		display: block;
		color: white;
		font-size: 14px;
		margin-bottom: 18px;
		text-decoration: underline;

		&.-feat {
			color: $color.tertiary;
			font-size: 18px;
		}
	}

	.related-info {
		font-weight: normal;
		text-align: center;

		address {
			font-size: 14px;
			font-style: normal;
			font-weight: normal;
			line-height: 1.6;
			margin: 16px 0;
		}

		.copyright {
			font-size: 16px;
		}
	}
}
